* {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: end;
}

.navbar h1 {
    padding: 5px 10px 5px 10px;
}

#contact {
    background-color: red;
}

#home {
    background-color: white;
}

#about {
    background-color: blue;
}