* {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
}

#contact {
    background-color: red;
}

#home {
    background-color: white;
}

#about {
    background-color: blue;
}