* {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: end;
}

.navbar h1 {
    padding: 5px 10px 5px 10px;
}

#contact {
    background-color: red;
}

#home {
    background-color: white;
}

#about {
    background-color: blue;
}

.message p {
    display: flex;
    margin: 15px;
    border: solid;
    border-width: 4px;
    border-radius: 5px;
    padding: 20px;
}

#message1 p {
    display: flex;
    justify-content: baseline;
}

#message2 p {
    display: flex;
    justify-content: end;
}